<mat-card>
<mat-card-header>
  <h1>User Registration</h1>
</mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup] ="registerform" (ngSubmit) = "proceedregistration()">
      <mat-form-field class="example-full-width">
        <mat-label>User Name </mat-label>
        <input matInput formControlName="id">
      </mat-form-field><br/>
      <mat-form-field class="example-full-width">
      <mat-label>Name </mat-label>
        <input matInput formControlName="name">
      </mat-form-field><br/>
      <mat-form-field class="example-full-width">
        <mat-label>Email </mat-label>
        <input matInput formControlName="email">
      </mat-form-field><br/>
      <mat-form-field class="example-full-width">
        <mat-label>Password </mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field><br/>
    <div>
      <mat-radio-group formControlName="gender" aria-label="Gender">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <button mat-raised-button color="primary">Submit</button>
      <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
    </div>
    <div *ngIf="registerform.errors">
      <p>Form validation error:</p>
      <pre>{{ registerform.errors | json }}</pre>
    </div>
    </form>
  </mat-card-content>
</mat-card>

